<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
     <% if(user){%>
        <h3>Welcome <%= user.firstname%></h3>
        <a href="/users/profile">
            <button>Profile</button>
        </a>
        <%}%>
    <%blogs.forEach((blog)=>{%>
    <div>
            <h4><%= blog.title%></h4>
            <p><%= blog.text%></p>
            <% if(user){%>
            <p>Author: <%= users.find(u=> u.id === blog.userid).username%></p>
            <p>Created: <%= new Date(blog.created).toLocaleDateString() %></p>
            <br>
            <%if(user.admin){%>
            <a href="/blogs/delete/<%= blog.id%>">
                <button style="color: red;">Delete</button>
            </a>
            <%}%>
        <%}%>
    </div>
    <%})%>

    <% if(user){%>
        <a href="/users/logout">
            <button>Log Out</button>
        </a>
         <% if(user.membership){%>
        <a href="/blogs/addnewblog">
            <button>Add New Blog</button>
        </a>
        <%}%>
        <%}else{%>
    <a href="/users/signup">
        <button>Sign up</button>
    </a>
    <a href="/users/login">
        <button>Log In</button>
    </a>
    <%}%>
</body>
</html>