<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
</head>
<body>
  <h1>Sign Up</h1>
  <form action="/users/signup" method="POST">
    <label for="firstname">Firstname</label>
    <input id="firstname" name="firstname" placeholder="firstname" type="text" value="<%= old?.firstname || ''%>" />
    <%if(errors?.firstname) {%>
      <p style="color: red"><%= errors.firstname%></p>
  <%}%>
    <label for="lastname">lastname</label>
    <input id="lastname" name="lastname" placeholder="lastname" type="text" value="<%= old?.lastname || ''%>"/>
    <%if(errors?.lastname) {%>
      <p style="color: red"><%= errors.lastname%></p>
  <%}%>
    <label for="username">Username</label>
    <input id="username" name="username" placeholder="username" type="text" value="<%= old?.username|| ''%>"/>
    <%if(errors?.username) {%>
      <p style="color: red"><%= errors.username%></p>
  <%}%>
    <label for="email">Email</label>
    <input id="email" name="email" placeholder="email" type="email" value="<%= old?.email|| ''%>"/>
    <%if(errors?.email) {%>
      <p style="color: red"><%= errors.email%></p>
  <%}%>
    <label for="age">age</label>
    <input id="age" name="age" placeholder="age" type="text" value="<%= old?.age || ''%>"/>
    <%if(errors?.age) {%>
      <p style="color: red"><%= errors.age%></p>
  <%}%>
    <label for="password">Password</label>
    <input id="password" name="password" type="password" />
    <%if(errors?.password) {%>
      <p style="color: red"><%= errors.password%></p>
  <%}%>
    <button type="submit">Sign Up</button>
  </form>
</body>
</html>
